<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/styles-generales.css">
    <link rel="stylesheet" href="/styles-bajar-peso.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="barra-superior">
            <h1>Entrenamientos</h1>
        </div>
        <section class="container">
            <h2>Planes de bajar de peso</h2>
            <section class="tarjetas">
           
                <!-- baja de peso -->
                <a href="/3-dias-bajarPeso" class="tarjeta">
                    <img src="./assets/numero-3.png" alt="">
                    <h3>Plan de 3 dias</h3>
                </a>
                <!-- aumento de masa muscular -->
                <a href="/5-dias-bajarPeso" class="tarjeta masaMuscular">
                    <img src="./assets/numero-5.png" alt="">
                    <h3>Plan de 5 dias</h3>
                </a>
                <!-- personalizado -->
 

            </section>

          
        </section>
        <figure class="logo">
            <img src="./assets/GYM SPORTS.png" alt="">
        </figure>
        <%- include("partials/footer.ejs")%>
    </main>
</body>
</html>