<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/styles-generales.css">
    <link rel="stylesheet" href="/styles-nutricion.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="barra-superior">
            <h1>Nutrición</h1>
        </div>
        <section class="container">
            <form class="nutricion" action="cambioCitaNutricion" method="post">
                <h2>Cambia tu cita con la nutricionista</h2>
    
               
                <label for="fecha">Seleciona el cambio de fecha para la cita</label>
                <input id= "fecha"type="date" name="fecha" class="fecha" required>
    
                <label for="hora">Seleciona el cambio de hora para la cita</label>
                <input id= "hora"type="time" name="hora" class="hora" required >

                <label for="descripcion">Añade una breve descripción</label>
                <input id="descripcion" type="text" name="descripcion" class="descripcion">
    
                <input type="submit" name="" id="" value="Cambiar cita" class="boton-cita">

                <figure class="logo">
                    <img src="./assets/GYM SPORTS.png" alt="">
                </figure>
    
            </form>
        </section>


        <%- include("partials/footer.ejs")%>
    </main>
</body>
</html>