<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/styles-generales.css">
    <link rel="stylesheet" href="/styles-nutricion.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="barra-superior">
            <h1>Nutrición</h1>
        </div>
        <section class="container">
            <form class="nutricion" action="citaNutricion" method="post">
                <h2>Agenda tu cita con la nutricionista</h2>
    
                <h3>Costo de la cita ₡10 000</h3>
                <label for="fecha">Seleciona la fecha para la cita</label>
                <input id= "fecha"type="date" name="fecha" class="fecha" required>
    
                <label for="hora">Seleciona la hora para la cita</label>
                <input id= "hora"type="time" name="hora" class="hora" required >

                <label for="descripcion">Añade una breve descripción</label>
                <textarea id="descripcion" type="text" name="descripcion" class="descripcion"> </textarea> 

                <input type="submit" name="" id="" value="Pagar y agendar cita" class="boton-cita">
                <button id="btn-paypal">Pagar con Pay Pal</button>
                <figure class="logo">
                    <img src="./assets/GYM SPORTS.png" alt="">
                </figure>
                
             
            </form>
           

        </section>


        <%- include("partials/footer.ejs")%>
    </main>
</body>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const paypal = document.getElementById('btn-paypal');
        
        paypal.addEventListener("click", async (event) => {
            event.preventDefault(); // Evita que el botón envíe el formulario

            const fecha = document.getElementById('fecha').value;
            const hora = document.getElementById('hora').value;	
            const descripcion = document.getElementById('descripcion').value;
            const nutricion = 'nutricion'
            const response = await fetch("/pagoPayPal", { 
                method: "POST",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ fecha, hora, descripcion, nutricion })
            });

            const data = await response.json();
            window.location.href = data.links[1].href;
        });
    });
</script>

</html>