<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/styles-generales.css">
    <link rel="stylesheet" href="/styles-main.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="barra-superior">
            <h1>Pago cancelado</h1>
        </div>
        <section class="container cTarjetas">

                <div class="tarjeta">
                    <h3>Se ha cancelado el pago de paypal</h3>
                </div>
        </section>
        <figure class="logo">
            <img src="./assets/GYM SPORTS.png" alt="">
        </figure>
        <%- include("partials/footer.ejs")%>
    </main>
</body>
</html>