<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/styles-generales.css">
    <link rel="stylesheet" href="/styles-registro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="barra-superior">
            <h1>Registro</h1>
        </div>
        <section class="container">

            <form id="registroForm" action="/registrarNuevo" method="POST">
                <div>
                    <label for="cedula">Buscar datos personales por cédula:</label>
                    <input type="number" id="cedula" name="cedula" title="Buscar por cédula">
                    <button id="btn-buscar" class="btn-buscar">Buscar</button>
                </div>


                <label for="correo">Correo:</label>
                <input type="email" id="correo" name="correo" required>

                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>

                <label for="apellidos">Apellidos:</label>
                <input type="text" id="apellidos" name="apellidos" required>

                <div class="password-container">
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="pass" required>
                    <span id="toggle-password" onclick="togglePassword()">
                        <i class="fas fa-eye"></i> <!-- Ícono de ojo abierto -->
                    </span>
                </div>
                <span id="passwordMessage" class="error"></span>

                <div class="password-container">
                    <label for="confirmPasswordRepit">Confirmar Contraseña:</label>
                    <input type="password" id="confirmPasswordRepit" name="confirmPassword" required>
                    <span id="toggle-password-repit" onclick="togglePasswordRepit()">
                        <i class="fas fa-eye"></i> <!-- Ícono de ojo abierto -->
                    </span>
                </div>
                <span id="confirmPasswordMessage" class="error"></span>


                <label for="celular">Celular:</label>
                <input type="number" id="celular" name="celular" required>
                <section class="datos">
                    <div>
                        <label for="fecha">Fecha de nacimento</label>
                        <input type="date" id="fecha" name="fecha" required>
                    </div>
                    <div>
                        <label for="genero">Género</label>
                        <select id="genero" name="genero">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>

                    </div>
                </section>

                <section class="datos">
                    <div class="altura">
                        <label for="altura">Altura en cm</label>
                        <input type="number" name="altura" id="altura" required>
                    </div>
                    <div class="peso">
                        <label for="peso">Peso en kg</label>
                        <input type="number" name="peso" id="peso" required>

                    </div>
                </section>



                <button class="boton-registrar" type="submit">Registrarse</button>
            </form>

        </section>
        <figure class="logo">
            <img src="./assets/GYM SPORTS.png" alt="">
        </figure>
    </main>
</body>
<div id="errorModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" onclick="cerrarModal()">&times;</span>
        <p>El correo ya está en uso.</p>
    </div>
</div>

<script>
    // Pasar la variable de EJS a JavaScript
    var error = "<%= error ? error : '' %>";

    // Mostrar el modal si hay un error
    if (error.trim() !== "") {
        document.getElementById("errorModal").style.display = "block";
    }

    // Función para cerrar el modal
    function cerrarModal() {
        document.getElementById("errorModal").style.display = "none";
    }

    // Cerrar el modal si se hace clic fuera de él
    window.onclick = function (event) {
        var modal = document.getElementById("errorModal");
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }
</script>
<script>


    const passwordInput = document.getElementById("password");
    const confirmPasswordInput = document.getElementById("confirmPasswordRepit");
    const passwordMessage = document.getElementById("passwordMessage");
    const confirmPasswordMessage = document.getElementById("confirmPasswordMessage");

    // Validación de la contraseña
    passwordInput.addEventListener("input", function () {
        const password = passwordInput.value;
        const regex = /^(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,12}$/;

        if (regex.test(password)) {
            passwordMessage.textContent = "Contraseña válida ✔";
            passwordMessage.className = "valid";
        } else {
            passwordMessage.textContent = "Debe tener 8-12 caracteres, una mayúscula y un número.";
            passwordMessage.className = "error";
        }
        validatePasswords(); // Verifica si coinciden
    });

    // Validación de coincidencia de contraseñas
    confirmPasswordInput.addEventListener("input", validatePasswords);

    function validatePasswords() {
        const password = passwordInput.value;
        const confirmPassword = confirmPasswordInput.value;

        if (confirmPassword === "") {
            confirmPasswordMessage.textContent = "";
        } else if (password === confirmPassword) {
            confirmPasswordMessage.textContent = "Las contraseñas coinciden ✔";
            confirmPasswordMessage.className = "valid";
        } else {
            confirmPasswordMessage.textContent = "Las contraseñas no coinciden ❌";
            confirmPasswordMessage.className = "error";
        }
    }

    // Validación antes de enviar el formulario
    document.getElementById("registroForm").addEventListener("submit", function (event) {
        const password = passwordInput.value;
        const confirmPassword = confirmPasswordInput.value;
        const regex = /^(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,12}$/;

        if (!regex.test(password)) {
            alert("La contraseña no cumple con los requisitos.");
            event.preventDefault();
        } else if (password !== confirmPassword) {
            alert("Las contraseñas no coinciden.");
            event.preventDefault();
        }
    });


    // Visualización de contraseña  
    function togglePassword() {
        const passwordInput = document.getElementById('password');
        const toggleIcon = document.querySelector('#toggle-password i');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            toggleIcon.classList.remove('fa-eye'); // Quita el ícono de ojo abierto
            toggleIcon.classList.add('fa-eye-slash'); // Agrega el ícono de ojo tachado
        } else {
            passwordInput.type = 'password';
            toggleIcon.classList.remove('fa-eye-slash'); // Quita el ícono de ojo tachado
            toggleIcon.classList.add('fa-eye'); // Agrega el ícono de ojo abierto
        }
    }

    // Visualización de contraseña  repetida
    function togglePasswordRepit() {
        const passwordInput = document.getElementById('confirmPasswordRepit');
        const toggleIcon = document.querySelector('#toggle-password-repit i');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            toggleIcon.classList.remove('fa-eye'); // Quita el ícono de ojo abierto
            toggleIcon.classList.add('fa-eye-slash'); // Agrega el ícono de ojo tachado
        } else {
            passwordInput.type = 'password';
            toggleIcon.classList.remove('fa-eye-slash'); // Quita el ícono de ojo tachado
            toggleIcon.classList.add('fa-eye'); // Agrega el ícono de ojo abierto
        }
    }

</script>
<script>
document.addEventListener("DOMContentLoaded", () => {
    const buscar = document.getElementById('btn-buscar');

    buscar.addEventListener("click", async (event) => {
        event.preventDefault(); // Evita que el botón envíe el formulario

        const cedula = document.getElementById('cedula').value;

        if (!cedula) {
            console.log("Por favor, ingresa una cédula.");
            return;
        }

        try {
            const response = await fetch(`/buscar-cedula?cedula=${encodeURIComponent(cedula)}`, {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' }
            });

            if (!response.ok) {
                throw new Error(`Error ${response.status}: ${response.statusText}`);
            }

            const data = await response.json();
            console.log("Datos recibidos:", data[0]);
            const fechaOriginal = "1989-09-05T06:00:00.000Z";
            const fechaFormateada = formatDateToYYYYMMDD(data[0].
            fecha_nacimiento);
            // Asignar los valores obtenidos a los campos correspondientes
            document.getElementById('nombre').value = data[0].nombre || '';
            document.getElementById('apellidos').value = data[0].p_apellido + ' ' + data[0].s_apellido|| '';
            document.getElementById('fecha').value = fechaFormateada
 || '';

        } catch (error) {
            console.error("Error al buscar cédula:", error);
        }
    });
});

function formatDateToYYYYMMDD(dateString) {
    const date = new Date(dateString);
    const year = date.getFullYear();
    const month = String(date.getMonth() + 1).padStart(2, '0'); // Mes empieza en 0
    const day = String(date.getDate()).padStart(2, '0');

    return `${year}-${month}-${day}`;
}

</script>


<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</html>