<footer>
    <section class="fSection" >

     <a href="/home"><img class='icoHome'src="./assets/home.png" alt=""></a>
     <a href="/perfil"><img class='icoPerfil'src="./assets/usuario.png" alt=""></a>

    </section>
</footer>