
.tarjeta{ 
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 457px;
    height: 196px;
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
}
.tipoMatricula{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 157px;
}
.costos{
    display: flex;
    flex-direction: column;
}
.costos a {
    text-decoration: none;
    margin-top: 7px;
    margin-bottom: 7px;
    border: 1px, solid,#17a14ce5;
    padding: 10px;
    border-radius: 8px;
    color:#ffffff;
    background-color: #17a14ce5;
    font-weight: bold;
}
.costos a:hover{
    color:#17a14ce5;
    background-color: #ffffff;
}
.tarjeta img{
    width: 110px;
    height: 110px;
    
}
.tarjeta h3{
    color:#E31C25;
    text-align: center;
}

.tarjetas{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.tarjetas a{
    text-decoration: none;
}


.cTarjetas{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

